header.navbar {
  background-color: var(--primary-color);
}

header.navbar a.nav-link,
header.navbar a.nav-brand {
  color: white;
  font-weight: bold;
}

header.navbar a.nav-link.active {
  background: #fff;
  color: var(--primary-color);
  border-radius: var(--bs-border-radius);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
